<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Schematron Provider EHF" verbose="0">
    <test name="schematron provider EHF">
        <packages>
            <package name="com.pagero.*"/>
        </packages>
	</test>
</suite>
